@using StockMVC.Models.Entity;
@model List<TblProducts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Brand</th>
        <th>Product Cost</th>
        <th>Product Stock</th>
        <th>Product Delete</th>
        <th>Product Update</th>
    </tr>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th>@product.productID</th>
                <td>@product.productName</td>
                <td>@product.productBrand</td>
                <td>@product.TblCategories.CategoryName</td>
                <td>@product.productCost</td>
                <td>@product.productStock</td>
                <td><a href="/Product/Delete/@product.productID" class="btn btn-danger"></a></td>
                <td><a href="/Product/Update/@product.productID" class="btn btn-sucess"></a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Product/AddProduct/" class="btn btn-primary">Add New Product</a>

